-r requirements.txt
# Librerías para mantener la consistencia del estilo de código.
nb-black==1.0.5

# Librerías para el análisis y visualización
seaborn
plotly
jupyter

# Librerías adicionales de uso frecuente para desarrollo y experimentación
jupyterlab
ipython
openpyxl
